{% extends 'base.html' %}

{% block main_content %}

    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-10">
            <div id="id_echarts_container" style="height: 450px;width: 1200px"></div>
        </div>
    </div>
{% endblock %}


{% block extra_script %}
    <!--<meta http-equiv="refresh" content="10">-->
    <script src="https://cdn.bootcss.com/echarts/3.8.5/echarts.min.js"></script>
    <script src="http://echarts.baidu.com/asset/map/js/china.js"></script>
    <script type="text/javascript">
        function run(){
            var mChart;
            function loadEcharts(name) {
                var url = '/options/' + name + '/';
                if (mChart != null) {
                    mChart.clear();
                }
                mChart = echarts.init(document.getElementById('id_echarts_container'));
                mChart.showLoading();
                $.ajax({
                    url: url,
                    type: "GET",
                    data: null,
                    dataType: "json"
                }).done(function (data) {
//                console.info(data)
                    mChart.hideLoading();
                    mChart.setOption(data);
                    console.log(data);
                });
            }

            $(document).ready(function () {
                $('a[data-echarts-name]').on('click', function () {
                    var name = $(this).data('echartsName');
                    loadEcharts(name);
                });
                loadEcharts('simpleBar');
            });
            //定时刷新页面 秒 * 1000
            setTimeout("run()", 2*60*1000);
        }
        run();

    </script>
{% endblock %}